footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1600px;
  margin: auto;
}

footer .footer p {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
}

footer .footer a {
  font-size: 11px;
  line-height: 16px;
  color: #616161;
}

footer .footer ul {
  list-style: none;
  padding: 0px;
}

footer .columns div {
  align-items: normal
}