# https://dev.azure.com/GDCBADE/Web%20Development/_artifacts/feed/OneCloudMorayReimagineFeed@Local/connect/npm

# workaround for "No matching version found for lit-element@^4.1.0." error
@ms-onecloud:registry=https://pkgs.dev.azure.com/GDCBADE/1f330fba-4dfd-4cfd-86ed-2abfe3d3757c/_packaging/OneCloudMorayReimagineFeed%40Local/npm/registry/ 
registry https://registry.npmjs.org/

#original line
# registry=https://pkgs.dev.azure.com/GDCBADE/1f330fba-4dfd-4cfd-86ed-2abfe3d3757c/_packaging/OneCloudMorayReimagineFeed%40Local/npm/registry/

always-auth=true