.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns.horizontal img {
  width: 40px;
  aspect-ratio: auto 40 / 40;
  align-self: center;
}

.columns.horizontal p {
  text-align: center;
  margin: 0px;
}

.columns.horizontal a.button {
  background-color: transparent;
  color: #0067b8;
  font-weight: 600 !important;
  font-size: 1rem;
  margin: 0px;
  text-decoration: underline;
}